/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
	position: relative;
	min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
	margin-bottom: 60px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-logo {
	display: inline;
	padding-right: 8px;
	max-height: 24px;
}

p.footer-links {
	text-align: right;
}

a.footer-logo {
	float: right;
}

p.copyright {
	float: left;
	color: #FFFFFF;
}

img.footer-logo {
	max-height: 32px;
}

iframe.report-iframe {
	width: 100%;
	height: 100%;
	min-height: 440px;
	border: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	padding: 0px;
	background-color: #FFFFFF;
	border: none;
}

.footer-container {
	color: #FFFFFF;
	background-color: #000000;
	/* background-image: linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%) !important; */
}

.footer-icon {
	width: 32px;
	height: 32px;
}

.footer-icon:hover {
	opacity: 0.5;
}

body {
	padding-bottom: 0px;
}

.download-progress-bar {
	display: none;
}
/*
#chatContainer:hover {
	cursor: pointer;
}

#chatContainer:focus {
	width: 400px;
	height: 450px;
}

#chatContainer:not(:focus) {
	width: 84px;
	height: 84px;
}*/