/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
	position: relative;
	min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
	margin-bottom: 60px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-logo {
	display: inline;
	padding-right: 8px;
	max-height: 24px;
}

p.footer-links {
	text-align: right;
}

a.footer-logo {
	float: right;
}

p.copyright {
	float: left;
	color: #FFFFFF;
}

img.footer-logo {
	max-height: 32px;
}

iframe.report-iframe {
	width: 100%;
	height: 100%;
	min-height: 440px;
	border: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	padding: 0px;
	background-color: #FFFFFF;
	border: none;
}

.footer-container {
	color: #FFFFFF;
	background-color: #000000;
	/* background-image: linear-gradient(190deg, #7b1ce9 0%, #1548e0 100%) !important; */
}

.footer-icon {
	width: 32px;
	height: 32px;
}

.footer-icon:hover {
	opacity: 0.5;
}

body {
	padding-bottom: 0px;
}

.download-progress-bar {
	
}

.btn-generic {
	color: white;
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	font-size: 1.2em;
	cursor: pointer;
	text-align: center;
	margin-top: 4px;
}

.btn-generic:hover {
	opacity: 0.8;
}

.btn-sel {
	background-color: #7b1ce9;
	background-image: linear-gradient(225deg, #a65afa, #7b1ce9);
}

.btn-clr {
	background-color: #7b1ce9;
	background-image: linear-gradient(225deg, #a65afa, #7b1ce9);
}

.btn-lms {
	background-color: #7b1ce9;
	background-image: linear-gradient(225deg, #a65afa, #7b1ce9);
}

.btn-bus {
	background-color: #1696ec;
	background-image: linear-gradient(225deg, #1696ec, #1548e0);
}

.btn-chc {
	background-color: #ec2262;
	background-image: linear-gradient(225deg, #ec2262, #90104c);
}

.btn-ict {
	background-color: #f2b81e;
	background-image: linear-gradient(225deg, #f2b81e, #cc840a);
}

.state {
	display: none;
}

#chatContainer[class~=lc-max] {
	width: calc(400px - 16px);
	height: calc(450px - 16px);
	opacity: 1;
	visibility: visible;
	z-index: 2147483639;
	position: fixed;
	bottom: 0px;
	max-width: 100%;
	max-height: 100%;
	min-height: 0px;
	min-width: 0px;
	background-color: transparent;
	border: 0px;
	overflow: hidden;
	right: 80px;
	transition: all 0.5s ease 0s !important;
}

#chatContainer[class~=lc-min] {
	width: 80px;
	height: 80px;
	opacity: 1;
	visibility: visible;
	z-index: 2147483639;
	position: fixed;
	bottom: 0px;
	max-width: 80px;
	max-height: 80px;
	min-height: 0px;
	min-width: 0px;
	background-color: transparent;
	border: 0px;
	overflow: hidden;
	right: 80px;
	transition: all 0.5s ease 0s !important;
}

#chatMinimise {
	top: 0px;
	right: 0px;
	height: 46px;
	width: calc(100% - 50px);
	position: absolute;
	background: transparent;
	cursor: pointer;
}

.lc-svg {
	fill: #ffffff;
	display: block;
	color: #ffffff;
}

body.category-9 #chatBubble {
	background-color: #f2b81e;
}

body.category-5 #chatBubble {
	background-color: #1696ec;
}

body.category-41 #chatBubble {
	background-color: #1696ec;
}

body.category-44 #chatBubble {
	background-color: #ec2262;
}

body.category-45 #chatBubble {
	background-color: #1696ec;
}

body.category-46 #chatBubble {
	background-color: #1696ec;
}

#chatBubble[class~=lc-max] {
	width: 60px;
	height: 60px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
	border-radius: 50%;
	-moz-box-pack: center;
	justify-content: center;
	position: fixed;
	right: 80px;
	bottom: 0px;
	margin: 16px 0px;
	transition: all 0.2s ease 0.5s !important;
	cursor: pointer;
}

#chatBubble[class~=lc-min] {
	width: 0px;
	height: 0px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
	border-radius: 50%;
	-moz-box-pack: center;
	justify-content: center;
	position: fixed;
	right: 80px;
	bottom: 0px;
	margin: 0px;
	transition: all 0.5s ease 0s !important;
}

#chatIframe[class~=lc-max] {
	width: inherit;
	height: inherit;
	margin: 0px;
	padding: 0px;
	background-image: none;
	background-position: 0% 0%;
	background-size: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	float: none;
	bottom: 0px;
	right: 0px;
	transition: all 0.2s ease 0s !important;
}

#chatIframe[class~=lc-min] {
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	background-image: none;
	background-position: 0% 0%;
	background-size: initial;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;
	float: none;
	bottom: 0px;
	right: 0px;
	transition: all 0.5s ease 0s !important;
}
