<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AutoReporting</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/Primary-gradient.png" alt="Upskilled Logo" style="display: inline;" class="navbar-logo" />AutoReporting</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="dropdown">
						<a asp-area="" asp-controller="LMS" asp-action="Login" class="dropdown-header">LMS</a>
						<div class="dropdown-menu">
							<a asp-area="" asp-controller="LMS" asp-action="Login">Reporting</a>
							<a asp-area="" asp-controller="LMS" asp-action="Login">User Management</a>
							<a asp-area="" asp-controller="LMS" asp-action="Login">Content Management</a>
							<a asp-area="" asp-controller="LMS" asp-action="Login">Course Management</a>
						</div>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-header">eLearning Management</a>
						<div class="dropdown-menu">
							<a asp-area="" asp-controller="Pluralsight" asp-action="Pluralsight">Pluralsight</a>
							<a asp-area="" asp-controller="Linkedin" asp-action="Linkedin">LinkedIn Learning</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	<div class="container body-content">
		@RenderBody()
		<hr />
	</div>

	<span id="count" style="position: fixed; top: 0; left: 0; color: white; z-index: 200000000;"></span>

	<footer class="panel-footer footer">
		<div class="container-fluid footer-container">
			<div class="row align-items-center">
				<div class="col-sm-3">
					<a href="https://www.upskilled.edu.au" target="_blank" class="footer-logo"><img src="~/images/Wordmark secondary on black.png" alt="Upskilled Logo and link to upskilled.edu.au" class="footer-logo" /></a>
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-2">
					<div class="row footer-icon-container">
						<div class="col-sm-3">
							<a href="https://lms.upskilled.edu.au" target="_blank" title="LMS"><img src="~/images/Secondary gradient.png" class="footer-icon" alt="Link to Upskilled LMS" /></a>
						</div>
						<div class="col-sm-3">
							<a href="https://upskilled.my.salesforce.com/home/home.jsp" target="_blank" title="Salesforce"><img src="https://upskilled.my.salesforce.com/favicon.ico" class="footer-icon" alt="Link to Salesforce home" /></a>
						</div>
						<div class="col-sm-3">
							<a href="https://sites.google.com/upskilled.edu.au/upskilledintranet/home" target="_blank" title="Intranet"><img src="~/images/Logo White Primary.png" class="footer-icon" alt="Link to Upskilled intranet" /></a>
						</div>
						<div class="col-sm-3">
							<a href="https://sites.google.com/upskilled.edu.au/brand/home?authuser=0" target="_blank" title="Brand Guidelines"><img src="~/images/Logo White Secondary.png" class="footer-icon" alt="Link to brand guidelines site" /></a>
						</div>
					</div>
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-3">
					<p class="copyright">&copy; @DateTime.Now.Year.ToString() - Andrew Skeklios</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Start of LiveChat(www.livechatinc.com) code -->

	<!--
	<div id="chatContainer" class="lc-min">
		<script>
			// Manual method of generating a second chat window
			// Function to minimise and maximise the trainer chat
			function toggleLC() {
				if (document.getElementById('chatIframe').classList.contains('lc-min')) {
					// Maximise
					document.getElementById('chatContainer').classList.replace('lc-min', 'lc-max');
					document.getElementById('chatIframe').classList.replace('lc-min', 'lc-max');
					document.getElementById('chatBubble').classList.replace('lc-max', 'lc-min');
					document.getElementById('chatMinimise').style.display = 'block';
					document.getElementById('chatInnerBubble').style.display = 'none';
				} else {
					// Minimise
					document.getElementById('chatContainer').classList.replace('lc-max', 'lc-min');
					document.getElementById('chatIframe').classList.replace('lc-max', 'lc-min');
					document.getElementById('chatBubble').classList.replace('lc-min', 'lc-max');
					document.getElementById('chatMinimise').style.display = 'none';
					document.getElementById('chatInnerBubble').style.display = 'block';
				}
			}
		// Create bubble to display initially, onclick reveal Iframe containing trainer chat
		</script>

		<div id="chatBubble" class="lc-max" onclick="toggleLC();" title="Ask a trainer">
			<svg id="chatInnerBubble" width="28px" height="28px" viewBox="0 0 28 28" class="lc-svg" style="position: absolute; top: 16px; right: 16px;">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g fill="#ffffff">
						<path d="M14,25.5 C12.4,25.5 10.8,25.2 9.4,24.7 L4.5,27.5 L4.5,21.9 C2,19.6 0.5,16.5 0.5,13 C0.5,6.1 6.5,0.5 14,0.5 C21.5,0.5 27.5,6.1 27.5,13 C27.5,19.9 21.5,25.5 14,25.5 L14,25.5 Z M9,11.5 C8.2,11.5 7.5,12.2 7.5,13 C7.5,13.8 8.2,14.5 9,14.5 C9.8,14.5 10.5,13.8 10.5,13 C10.5,12.2 9.8,11.5 9,11.5 L9,11.5 Z M14,11.5 C13.2,11.5 12.5,12.2 12.5,13 C12.5,13.8 13.2,14.5 14,14.5 C14.8,14.5 15.5,13.8 15.5,13 C15.5,12.2 14.8,11.5 14,11.5 L14,11.5 Z M19,11.5 C18.2,11.5 17.5,12.2 17.5,13 C17.5,13.8 18.2,14.5 19,14.5 C19.8,14.5 20.5,13.8 20.5,13 C20.5,12.2 19.8,11.5 19,11.5 L19,11.5 Z"></path>
					</g>
				</g>
			</svg>
		</div>
		<iframe id="chatIframe" class="lc-min" src="https://lc.chat/now/2673501/4">LiveChat</iframe>
		<div id="chatMinimise" onclick="toggleLC();" title="Minimise chat window"></div>
	</div>

	<script type="text/javascript">

		window.__lc = window.__lc || {};
		window.__lc.license = 2673501;
		window.__lc.chat_between_groups = false;
		window.__lc.group = 2;

		(function () {
			var lc = document.createElement('script');
			lc.type = 'text/javascript';
			lc.async = true;
			lc.src = ('https:' == window.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(lc, s);
		})();

	</script>
	-->
	<!-- End of LiveChat code -->

	@RenderSection("Scripts", required: false)
	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

</body>
</html>
