@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	Adelaide Office:<br />
	Office 1 / Level 1, 10 Hurtle Parade<br />
	Mawson Lakes, SA 5095<br />
	<abbr title="Phone">P:</abbr>
	1300 009 924
</address>
