
@{
	ViewData["Title"] = "LMS Reports";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="col-md-12">
	<iframe src="https://lms.upskilled.edu.au/blocks/configurable_reports/viewreport.php?id=181&courseid=1" class="report-iframe"></iframe>
</div>
