
@{
	ViewData["Title"] = "Pluralsight Manager";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!--

	* Pluralsight API refferences:
		https://app.pluralsight.com/plans/api/license/docs?planId=upskilled
		https://app.pluralsight.com/plans/api/reports/docs

Add some stats here:

	- Total users
	- Active users?


	For auto-deleting users, might need to manually pull the id's for students to be culled, and then put them into the site to handle from there.'
		* Alternative: Download the full list of users, match id's and then check the last access from there

		To download the full list, send GET to: https://app.pluralsight.com/plan-analytics-api/reports/upskilled/user/all/download?range=all.
			* Must be logged in to Pluralsight first
-->

