@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<iframe src="https://www.upskilled.edu.au/getmedia/69f1da71-97a6-401d-b469-9a6359aab6ed/Privacy-Policy.pdf;.aspx"></iframe>
